@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS here */


*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


/* Navbar */
.navbardiv .sticky{
    background-color: rgb(29, 249, 176);
    transition: .3s ease-in-out;
}

/* Home Section */
.bg-image{
    background-image: url('/public/Rectangle_img.jpg');
    background-size: cover;
}
.home-cards{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
}

/* Home Booking Now Button */
.bookingclass{
    z-index: 100;
}
.bookingimg{
    z-index: -99;
}
.bothbgimg{
    background-image: url('/public/Ellipse\ 107.jpg');
}

/* AboutUs Section */
.aboutusimage{
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    z-index: 999;
}
.aboutusdots{
    z-index: -99;
}
.learnmorebutton button{
    filter: drop-shadow(2px 3px 8px #89DB7B);
    font-weight: bold;
}

/* Ellipse Img */
.ellipseimg{
    z-index: -999;
}


/* Testimonials Section */
.testimonailsbgimg{
    background-image: url('/public/GroupMap.png');
    z-index: -999;
    background-position: center;
    background-size: contain;
}


/* Swiper Js */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* CTA Section */
  .outerctasection{
    box-shadow: 1px 1px 10px 3px lightgray,
    -1px -0px 4px 1px lightgray;
    border-radius: 50px;
  }


  /* Footer Classes */
  #footerdiv p,#footerdiv1 p,
  #footerdiv2 p, #footerdiv3 p{
    padding-bottom: 8px;
    cursor: pointer;
  }
  #footerdiv p:hover,#footerdiv1 p:hover,
  #footerdiv2 p:hover, #footerdiv3 p:hover{
    color: #FE5E54;
  }
