@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/* @media only screen and (max-width:1023px){
    .navbar-menu-div{
        display: flex;
    }
    .navbar-div{
        display: none;
    }
    .original-navbar{
        display: none;
    }
} */
